<div class="pull-right" style="margin-bottom: 10px">
  <input
    type="button"
    class="btn btn-xs btn-success"
    (click)="ShowDialog()"
    value="Add New"
  />
</div>
<div class="table-responsive">
  <table class="table table-hover table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Image Url</th>
        <th scope="col">Operations</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of categories">
        <td>{{ category.name }}</td>
        <td>{{ category.description }}</td>
        <td>{{ category.imageUrl }}</td>
        <td style="text-align: center">
          <a
            href="javascript:void(0)"
            (click)="ShowDialog(category.id)"
            matTooltip="Edit"
            [matTooltipPosition]="'above'"
          >
            <i class="fa fa-pencil" style="color: lightskyblue"></i> </a
          >&nbsp;&nbsp;
          <app-delete
            [value]="category"
            [className]="'Category'"
            [serviceName]="'ICategoryService'"
            (fillList)="FillList()"
          ></app-delete>
        </td>
      </tr>
    </tbody>
  </table>
</div>
