
<form [formGroup]="adminLoginForm" (ngSubmit)="add()" class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="txtUserName" class="sr-only">Username</label>
    <input type="text" id="txtUserName" class="form-control" name="userName" formControlName="userName" placeholder="User name" autofocus>
    <div class="alert alert-danger" *ngIf="adminLoginForm.get('userName').hasError('required') && adminLoginForm.get('userName').dirty">Username is required</div>
    <label for="txtPassword" class="sr-only">Password</label>
    <input type="password" id="txtPassword" name="password" formControlName="password" class="form-control" placeholder="Password">
    <div class="alert alert-danger" *ngIf="adminLoginForm.get('userName').hasError('required') && adminLoginForm.get('userName').dirty">Password is required</div>
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" [disabled]="adminLoginForm.invalid" type="submit">Sign in</button>
    <a routerLink="/" class="btn btn-lg btn-info btn-block">Back to shop</a>
</form>